{% extends "layout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

{% block title %}
Edit Profile Page
{% endblock %}

{% block header %}
BeRealER.
{% endblock %}

{% block header2 %}
Edit My Profile
{% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a  href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}




{% block content %}
<div>
  <i class="material-icons icon" style="font-size: 130px">account_circle</i>
 
      <!-- <p class="hello">Username</p>
 
  
  <div style="margin-top: 10px">

  </div>
      <p class="hello">Full Name</p>
  <div style="margin-top: 10px">

  </div>
      <p class="hello">Rating</p> -->
  
</div>

<form id="editprofileform" method="POST" action="/editprofile">
      {{ form.csrf_token }}
  

       {% with messages = get_flashed_messages() %}
       {% if messages %}
    
      
        {% for message in messages %}
        <p style="color: yellow">{{ message }}</p>
        {% endfor %}
      
    
       {% endif %}
       {% endwith %}

    {{ form.username.label }} 
    {{ form.username(size=20, class="validate") }}
  
    {{ form.email.label }}
    {{ form.email(size=50, class="validate") }}
            
    {{ form.password.label }}
    {{ form.password(size=20, class="validate") }}
            
    {{ form.confirm.label }}
    {{ form.confirm(size=20, class="validate") }}
      
    <div class="button:hover">
    {{form.update(class="b")}}
    </div>
</form>

  <div style="margin-top: 10px">

  </div>

{% endblock %} 


