{% extends "temp.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

{% block title %}
Edit Profile Page
{% endblock %}

{% block header %}
BeRealER.
{% endblock %}

{% block header2 %}
Edit My Profile
{% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a  href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}




{% block content %}

<div class='parent'>
  <box><p class="ph2">Change Info</p></box> 
  <div class='child'> <p class="ph3">Username:</p></div>
  <div class='child'> <p class="ph3">Name:</p></div>
  <div class='child'> <p class="ph3">Rank:</p></div>
</div>

  <input type="username" name="username" placeholder="New Username (Optional)" required="">
  <input type="name" name="name" placeholder="New Name (Optional)" required="">
  <input type="email" name="email" placeholder="New Email (Optional)" required="">


{% endblock %} 


{% block additionalcontent %}
<p class="ph4">Remember to always be RealER</p>
<div class="editpage">

  <box><p class="ph2">Change Pictures</p></box> 
  
<div class="centergallary">
 <div class="row">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc"><input type="file"accept="image/*"><p>Select to upload</p></div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc"><input type="file"accept="image/*"><p>Select to upload</p></div>
    </div>
  </div>
 </div>


  <div class="row">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc"><input type="file"accept="image/*"><p>Select to upload</p></div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc"><input type="file"accept="image/*"><p>Select to upload</p></div>
    </div>
  </div>
 </div>
</div>

<button2 onclick="window.location.href='/myprofile';"><p class="ph3">Save Changes</p></button2>

</div>
{% endblock %} 
