{% extends "temp.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
{% block title %} <title>BeRealER. EditProfilePage </title>{% endblock %}

{% block header %}

<header>
 <ph1> BeRealER. </ph1>
</header>

{% endblock %}

{% block header2 %}

<header2>
 <ph2> Edit Profile </ph2>
</header2>

{% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a class="active" href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/profilepage">My Profile</a></liright> 

  </ul>  


{% endblock %}




{% block content %}

  <body>

<div class="editprofile" title="EditProfilePage">
  <box>  	
  <ph3>Username</ph3>
  </box>

 </h1> Username </h1>

  <input type="username" name="username" placeholder="Username" required="">
</h3> Name </h3>
  <input type="name" name="name" placeholder="Name" required="">
  <input type="email" name="email" placeholder="Email" required="">

  <button2><h4>Save Changes</h4></button2>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc">rating</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc">rating</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc">rating</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{url_for('static', filename='background.jpg')}}">
        <img src="{{url_for('static', filename='background.jpg')}}" alt="picture" width="600" height="400">
      </a>
      <div class="desc">rating</div>
    </div>
  </div>
  


</div>
</body>
{% endblock %} 