
{% extends "signuploginlayout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
{% block title %}<title>BeRealER. Login</title> {% endblock %}


{{ super() }}

{% block content %} 

<body>
	<div class="main2" title="Login">  	
			<div class="signup" aria-hidden="true">
				<form>

                    <label aria-hidden="true">BeRealER.</label>
                    <h1>Welcome back to the better BeReal :)</h1>
					<input type="text" name="username" placeholder="Username" required="">
					<input type="password" name="password" placeholder="Password" required="">
					 <button onclick="window.location.href='/home';">Login</button> 
                    <p type="p2">Don't have an account? <a href="/signup">Sign up here</a></p>
					
				</form>
			</div>
	</div>

	
</body>

{% endblock %}




