
{% extends "signuploginlayout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
{% block title %}<title>BeRealER. Login</title> {% endblock %}


{{ super() }}

{% block content %} 

<body>
	<div class="main2" title="Login">  	
			<div class="signup" aria-hidden="true">
				<form method="POST" action="/login">
					{{ form.csrf_token }}
                    <h1 aria-hidden="true">BeRealER.</h1>
                    <h2>Welcome back to the better BeReal :)</h2>

					{{ form.username.label }}
					{{ form.username(size=20, class="validate") }}
              		
					{{ form.password.label }}
					{{ form.password(size=20, class="validate") }}
              		
					<div class="button:hover">
						{{form.submit(class="button")}}
						</div>
					<!-- <input type="text" name="username" placeholder="Username" required="">
					<input type="password" name="password" placeholder="Password" required="">
					 <button onclick="window.location.href='/home';">Login</button> 
                    
					-->
					<p type="p2">Don't have an account? <a href="/signup">Sign up here</a></p>
				</form>
			</div>
	</div>

	
</body>

{% endblock %}




