{% extends "layout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
    Profile Page
    {% endblock %}
    
    {% block header %}
    BeRealER.
    {% endblock %}
    
    {% block header2 %}
    Full Name
    {% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <li><a href="/uploadpictures"> Upload Picture</a></li>

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}

{% block content %} 
    <div>
        <i class="material-icons icon" style="font-size: 130px">account_circle</i>
       
            <p class="hello">{{user.username}}</p>
       
        
            <div style="margin-top: 10px"></div>
            <p class="hello">Average Rating:{{average}}</p>
            <div style="margin-top: 10px"></div>
            <p class="hello">Your Rating:{{ratings.score}}</p>
            <div style="margin-top: 10px"></div>
            <div><p class="h">Rate User's Profile</p></div>
            <form method="POST" action="/otheruserprofile/{{user.profileId}}">
                <div class="row">
                 <div class="column">
                    <input type="radio" class="radio" name="rating" value="1" id="a" />
                    <p2 for="a"> 1 Star </p2>
                 </div>
                 <div class="column">
                    <input type="radio" class="radio" name="rating" value="2" id="b" />
                    <p2 for="b"> 2 Star </p2>
                </div>
           
                 <div class="column"> 
                    <input type="radio" class="radio" name="rating" value="3" id="c" />
                    <p2 for="c"> 3 Star </p2>
                </div>

                <div class="column">
                    <input type="radio" class="radio" name="rating" value="4" id="d" />
                    <p2 for="d"> 4 Star </p2>
                </div>
                <div class="column">
                    <input type="radio" class="radio" name="rating" value="5" id="e" />
                    <p2 for="e"> 5 Star </p2>
                </div>
                </div>
                    <input class="button" type="submit" value="Submit">
                
    </div>
    <div style="margin-top: 10px"></div>
     <div><p class="h">Rank User's Profile</p></div>
     <div style="margin-top: 20px"></div>
       {% for image in images %}
        <div class="responsive">
            <div class="desc">
                <p3 class="hello">Current Ranking:{{score}}</p3>
                <div style="margin-bottom: 15px"></div>
                <div style="margin-top: 15px"></div>
                <p2 >Your Ranking:{{image.rankings}}</p2>
                <div style="margin-top: 15px"></div>
            </div>
            <div class="gallery">
                <a target="_blank" href="{{image.url}}">
                  <img src="{{image.url}}" alt="picture" width="600" height="400">
                </a>
                <div class="desc">
                    <div class="row">
                        
                        <div class="column">
                           <input type="radio" class="radio" name="ranking" value="1" id="f" />
                           <p3 for="f"> 1 Star </p3>
                        </div>
                        <div class="column">
                           <input type="radio" class="radio" name="ranking" value="2" id="g" />
                           <p3 for="g"> 2 Star </p3>
                       </div>
                  
                        <div class="column"> 
                           <input type="radio" class="radio" name="ranking" value="3" id="h" />
                           <p3 for="h"> 3 Star </p3>
                       </div>
       
                       <div class="column">
                           <input type="radio" class="radio" name="ranking" value="4" id="i" />
                           <p3 for="i"> 4 Star </p3>
                       </div>
                       <div class="column">
                           <input type="radio" class="radio" name="ranking" value="5" id="j" />
                           <p3 for="j"> 5 Star </p3>
                       </div>
                       </div>
                           <input class="button2" type="submit" value="Submit">

                </div>
              </div>
        </div>
    </form>
        {% endfor %}


        

        
 
    
{% endblock %}