{% extends "temp.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
    Profile Page
    {% endblock %}
    
    {% block header %}
    BeRealER.
    {% endblock %}
    
    {% block header2 %}
    Full Name
    {% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a class="active" href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <li><a href="/uploadpictures"> Upload Picture</a></li>

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}

{% block content %} 
    <div>
        <i class="material-icons icon" style="font-size: 130px">account_circle</i>
       
            <p class="hello">{{user.username}}</p>
       
        
        <div style="margin-top: 10px">
  
        </div>
            <p class="hello">Rating:{{ratings.score}}</p>
            <div><p class="h">Rate User's Profile</p></div>
            <p2>{{ratings.score}}</p2>
            <form method="POST" action="/otheruserprofile/{{user.profileId}}">
                <div class="row">
                 <div class="column">
                    <input type="radio" class="radio" name="rating" value="1" id="a" />
                    <p2 for="a"> 1 Star </p2>
                 </div>
                 <div class="column">
                    <input type="radio" class="radio" name="rating" value="2" id="b" />
                    <p2 for="b"> 2 Star </p2>
                </div>
           
                 <div class="column"> 
                    <input type="radio" class="radio" name="rating" value="3" id="c" />
                    <p2 for="c"> 3 Star </p2>
                </div>

                <div class="column">
                    <input type="radio" class="radio" name="rating" value="4" id="d" />
                    <p2 for="d"> 4 Star </p2>
                </div>
                <div class="column">
                    <input type="radio" class="radio" name="rating" value="5" id="e" />
                    <p2 for="e">5 Star</p2>
                </div>
                </div>
                    <input type="submit" value="Submit">
                
            </form>
    </div>
    
  
       {% for image in images %}
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="{{image.url}}">
                  <img src="{{image.url}}" alt="picture" width="600" height="400">
                </a>
                <div class="desc">Rank</div>
              </div>
        </div>
        {% endfor %}


        

        
 
    
{% endblock %}