
{% extends "temp.html" %}
{% block title %}<title>BeRealER. SignUp or Login</title> {% endblock %}
{% block page %}BeRealER.{% endblock %}

{{ super() }}
{% block content %} 

<body>
	<div class="main" title="Start">  	
			<div class="start" aria-hidden="true">
				<form>

                    <label aria-hidden="true">BeRealER.</label>
                    <h1>Welcome to BeRealER!</h1>
					<h2>Sign Up or Login to start sharing and ranking photos</h2>
					<input type="button" onclick="window.location.href='/signup';"  value="Sign Up"/>
					<h1>OR</h1>
					<input type="button" onclick="window.location.href='/login';"  value="Login"/>
				</form>
			</div>
	</div>
</body>
{% endblock %}
