
{% extends "signuploginlayout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
{% block title %}<title>BeRealER. SignUp or Login</title> {% endblock %}
{% block page %}BeRealER.{% endblock %}

{{ super() }}
{% block content %} 

<body>
	<div class="main3" title="Start">  	
			<div class="start" aria-hidden="true">
				<form>

                    <h1 aria-hidden="true">BeRealER.</h1>
                    <h2>Welcome to BeRealER!</h2>
					<h2>Sign Up or Login to start sharing and ranking photos :)</h2>
					<div class="button:hover">
						<input type="button" class="button" onclick="window.location.href='/signup';"  value="Sign Up"/>
					</div>
					<h1>OR</h1>
					<div class="button:hover">
						<input type="button" class ="button" onclick="window.location.href='/login';"  value="Login"/>
					</div>
				</form>
			</div>
	</div>
</body>
{% endblock %}
