{% extends "temp.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
    Top Rated
    {% endblock %}
    
    {% block header %}
    BeRealER.
    {% endblock %}
    
    {% block header2 %}
    Top Rated
    {% endblock %}

{{ super() }}


{% block navbar %} 


<ul>  

    <li><a class="active" href="/home">Home</a></li>

    <li><a href="toprated">Top Rated</a></li> 

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}




{% block content %}
	
<box><p class="ph2">Top 4 Rated</p></box>  	

  <table id="profiles">
    <tr>
      <th>Ranking</th>
      <th>Username </th>
      <th>View Profile</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>Rank 1</td>
      <td>JoshuaAli</td>
      <td><p><button>profile</button></p></td>
      <td>20</td>
    </tr>
    <tr>
      <td>Rank 2</td>
      <td>Tamika</td>
      <td><p><button>profile</button></p></td>
      <td>15</td>
    </tr>
    <tr>
      <td>Rank 3</td>
      <td>Rae</td>
      <td><p><button>profile</button></p></td>
      <td>10</td>
    </tr>
    <tr>
      <td>Rank 4</td>
      <td>Josh</td>
      <td><p><button>profile</button></p></td>
      <td>5</td>
    </tr>
  </table>


{% endblock %} 

