{% extends "layout.html" %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
    Top Rated
    {% endblock %}
    
    {% block header %}
    BeRealER.
    {% endblock %}
    
    {% block header2 %}
    Top Rated
    {% endblock %}

{{ super() }}


{% block navbar %} 


<ul>  

    <li><a href="/home">Home</a></li>

    <li><a class="active" href="/toprated">Top Rated</a></li> 

    <li><a href="/uploadpictures"> Upload Picture</a></li>

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}




{% block content %}
<div>
  <i class="material-icons icon" style="font-size: 130px">trending_up</i>

      <p class="hello">Top Rated Profiles</p>


  <div style="margin-top: 10px">

  </div>
      

</div>	

  <table id="profiles">
    <tr>
      <th>Rank</th>
      <th>Username </th>
      <th>View Profile</th>
      <th>Rating</th>
      
    </tr>
    {% for profile in profiles %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{profile.username}}</td>
      <td><a href="/otheruserprofile/{{profile.profileId}}"><button>profile</button></a></td>
      <td>{{profile.overall_rating}}</td>
    </tr>
    {% endfor %}
 
  </table>


{% endblock %} 

