{% extends "layout.html" %}

{% block title %}
Upload Picture
{% endblock %}

{% block header %}
BeRealER.
{% endblock %}

{% block header2 %}
Create Account
{% endblock %}

{{ super() }}

{% block navbar %} 


<ul>  

    <li><a class="active" href="/home">Home</a></li>

    <li><a href="/toprated">Top Rated</a></li> 

    <li><a href="#"> Upload Picture</a></li>

    <liright><a class ="active2" href="/login">Logout</a></liright> 

    <liright><a href="/myprofile">My Profile</a></liright> 

  </ul>  


{% endblock %}

{% block content %} 
    <i class="material-icons icon" style="font-size: 150px">account_circle</i>
    <form method="POST" action="/uploadpictures" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{form.url.label}}
    {{ form.url(size=20, class="validate") }} 
    
    
    {{form.submit(class="button")}}

   </form>
{% endblock %}